<div class="reset-container">
    <h2>Recuperaçao de Senha:</h2>

    <div class="message">
        {{ message }}
    </div>

    <div class="reset-password-form">
        <input type="password" [(ngModel)]="password" placeholder="Senha" />
        <input type="password" [(ngModel)]="confirmPassword" placeholder="Repetir senha" />
    </div>
    @if (error) {
    <p class="error">{{ error }}</p>
    }
    <button class="send-button" (click)="sendResetPassword()">
        Enviar
    </button>
</div>