<div class="modal">
    <h3>Trocar Senha</h3>
    <input [(ngModel)]="currentPassword" placeholder="Senha atual" type="password" />
    <input [(ngModel)]="newPassword" placeholder="Nova senha" type="password" />
    <input [(ngModel)]="confirmPassword" placeholder="Confirmar nova senha" type="password" />

    <div class="modal-actions">
      <button (click)="submit()" [disabled]="!isValid()">Salvar</button>
      <button class="cancel" (click)="close.emit()">Cancelar</button>
    </div>

    @if(errorMessage) {
        <p  class="error">{{ errorMessage }}</p>
    }
  </div>
